<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>HTML-EDITOR</title>
</head>

<body>

    <section class="content">
        <div id="md" class="raw-md"></div>
        <div class="renderer" id="renderer"></div>
    </section>

    <script src="https://gist.github.com/mwrouse/05d8c11cd3872c19c684bd1904a2202e.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>